
<link href="css/estilos.css" rel="stylesheet" type="text/css"/>

<div class="alert alert-warning panelAgU1"> <center> <h1><font  color="black" face="Monotype"  >Agregar Nuevo Usuario</font><br></h1></center></div>

<div class=" container container-fluid">
    <div class="row"></div>
    <div class=" contenedor1 ">
        <center>
            <div class="col-lg-11">
                <div class="col-lg-offset-1">
                    <button type="button" class=" btn btn-success btn-responsive btninter centrado button1">Nuevo</button>
                    <button type="button"  class="btn btn-success btn-responsive btninter right centrado button1 ">Guardar</button>
                    <a href="#!/MenuPrincipal"><button type="button" class=" btn btn-success btn-responsive btninter centrado button1">Cancelar</button></a>
                    <button type="button"  class=" btn btn-success btn-responsive btninter right centrado button1 ">Editar</button> 
                    <button type="button" class=" btn btn-success btn-responsive btninter centrado button1">Eliminar</button>

                </div>
            </div>
            <div class= " col-lg-6  campofoto">
                <img  alt="Campo para la foto" class=" campofoto"><br><br>
                <div class="col-lg-offset-3">
                    <button type="button" class=" btn btn-success btn-responsive btninter bfoto "><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></button>
                    <button type="button"  class="btn btn-success btn-responsive btninter right centrado bfoto "><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span></button>

                </div>
            </div>

            <div class="col-lg-5 col-xs-6 ep">
                <div class="form-group ">
                    <label for="nombre" class=" col-lg-4 control-label labelPersonal">Nombre:</label>
                    <div class="col-lg-5">
                        <input type="Text" class="form-control C2" id="nombre" placeholder="Ingrese Nombre" name="nombre">
                    </div>
                </div><br><br>
                <div class="form-group">
                    <label for="cedula" class="col-lg-4 control-label labelPersonal">Cedula:</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control C2" id="cedula" placeholder="Ingrese Cedula" name="cedula">
                    </div>
                </div><br><br>
                <div class="form-group">
                    <label for="direccion" class="col-lg-4 control-label labelPersonal">Direccion:</label>
                    <div class="col-lg-5">
                        <input type="Text" class="form-control C2" id="direccion" placeholder="Ingrese Direccion" name="direccion">
                    </div>
                </div><br><br>
                <div class="form-group">
                    <label for="telfijo" class="col-lg-4 control-label labelPersonal"> Telefono:</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control C2" id="telfijo" placeholder="Ingrese Telefono fijo" name="telfijo">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xs-6 ep1" >
                <div class="form-group ">
                    <label for="celular" class="col-lg-4 control-label labelPersonal">Celular:</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control C2 " id="celular" placeholder="ingrese Celular" name="Celular">
                    </div>
                </div><br><br>
                <div class="form-group" >
                    <label for="correo" class="col-lg-4 control-label labelPersonal">Correo:</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control C2" id="correo" placeholder="Ingrese Correo" name="correo">
                    </div>
                </div><br><br>
                <div class="form-group">
                    <label for="rol" class="col-lg-4 control-label labelPersonal">Rol:</label>
                    <div class="col-lg-5">
                        <select class="form-control C2">
                            <option value="Administrador">Administrador</option>
                            <option value="Invitado">Invitado</option>
                        </select>
                    </div>
                </div><br><br>
                <div class="form-group">
                    <label for="contraseña" class="col-lg-4 control-label labelPersonal">Contraseña:</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control C2" id="contraseña" placeholder="Ingrese Contraseña" name="pwd">
                    </div> 
                </div>
            </div>

        </center>


    </div>
</div>
<div class="alert alert-warning panelAgU2 col-xs-1"></div>        

