<link href="css/estilos.css" rel="stylesheet" type="text/css"/>
<div class="col-lg-12 alert alert-warning panelAc"> 
            <div class="col-lg-11">
                <font  class="col-lg-offset-6 tituloacercade" color="black" face="Monotype"  >{{Texto1}}</font>
            </div>
            <div class="col-lg-1">     
                <a href="#!/MenuPrincipal"><span class="fa fa-sign-out salir" aria-hidden="true"></span></a>
            </div>    
        </div>

        <div>
        <img  class="col-lg-1 campologo2 img-responsive" src="{{Imagen}}">
        </div>
            <div class=" container container-fluid">
            <div class="row">
                <div class=" contenedor2 espacio">
                    <div class="col-lg-3">
                        <img  class="campologo img-responsive " src="{{Imagen1}}">
                    </div>
                    <div class="col-lg-6">
                        <center> <h1><font  color="black" face="Monotype" class="letra "  >{{Texto2}}</font><br></h1></center>
                        <center> <h1><font  color="black" face="Monotype" class="letra "  >{{Texto3}}</font><br></h1></center>
                        <center> <h1><font  color="black" face="Monotype" class="letra"  >{{Texto4}}</font><br></h1></center>
                        <center> <h1><font  color="black" face="Monotype" class="letra1"  >{{Texto5}}</font><br></h1></center>
                    </div>
                    <div class="col-lg-12" >
                    <h1><font  color="black" face="Monotype" class="letra2">{{Texto6}}</font><br></h1>
                    <p><font  color="black" face="Monotype" class="letra2">{{Texto7}}</font></p>
                    <p><font  color="black" face="Monotype" class="letra2">{{Texto8}}</font></p>
                    <h1><font  color="black" face="Monotype" class="letra2">{{Texto9}}</font></h1>
                    <p><font  color="black" face="Monotype" class="letra2">{{Texto10}}</font></p>
                    <p><font  color="black" face="Monotype" class="letra2">{{Texto11}}</font></p>
                </div>
                </div>


            </div>
        </div>

        <div class="col-lg-12 alert alert-warning panelAc2"></div>  

