<link rel="stylesheet" href="css/estilos.css">
<div class=" container container-fluid">
    <div class="row"></div>

    <div>
        <div class=" contenedor6 ">
            <div class="alert alert-warning panel2">

                <center> <h1><font  color="black" face="Monotype"  >{{Texto1}}</font><br></h1></center>
                <img class="im img-responsive" src="{{Imagen}}"> <br><br>

            </div><br><br>
            <center>

                <center><strong><font color="black" face="Monotype" size="5" >{{Texto2}}</font><br></strong></center><br>
                <input type="text" class="C1" placeholder="Nombre Usuario"><br><br>
                <center><strong><font color="black" face="Monotype" size="5" >{{Texto3}}</font><br><br></strong></center>
                <input type="text" class="C1" placeholder="Ingrese contraseña"><br><br>

                <div class="col-lg-11"><br>

                    <button type="button" class="col-lg-offset-1  col-lg-15 btn btn-success btn-responsive btninter centrado button">Aceptar</button>
                    <button type="button"  class="col-lg-offset-1 col-lg-15 btn btn-success btn-responsive btninter right centrado button ">Cancelar</button> 

                </div>
            </center>

            <div class="alert alert-warning  panel1">



            </div>
        </div>
    </div>
</div>
