<link href="css/estilos.css" rel="stylesheet" type="text/css"/>


<div class="alert alert-warning panelMp"> 
    <div class="col-lg-11">
        <font  class="col-lg-offset-5 tituloMenuP" color="black" face="Monotype"  >Menu Principal</font>
    </div>
    <div class="col-lg-1">     
        <a href="#!/login"><span class="   glyphicon glyphicon-remove salir" aria-hidden="true"></span></a>
    </div>
</div>
<div class=" container container-fluid">
    <div class="row"></div>

    <div class="col-lg-offset-1">
        <button type="button" class=" btn btn-success btn-responsive btninter centrado buttonMenu">Reportes</button>
        <a href="#!/AgUsuario"><button type="button"  class="btn btn-success btn-responsive btninter right centrado buttonMenu ">Agregar Nuevo Usuario</button></a>
        <a href="#!/registroAlumno"><button type="button" class=" btn btn-success btn-responsive btninter centrado buttonMenu">Agregar Nuevo Alumno</button></a>
        <button type="button"  class=" btn btn-success btn-responsive btninter right centrado buttonMenu ">Control de entrada</button> 

    </div>
    <div class="col-lg-9 ">
        <img  class="col-lg-offset-3  campologom img-responsive" src="img\logormb.jpg">
    </div>
    <div class="col-lg-10 letraMenu">
        <font  class="col-lg-offset-3" color="black" face="Monotype"  >Institucion Educativa Ramon Martinez Benitez</font>
    </div>

</div>


<div class="alert alert-warning panelMp1"> 
    <div class="col-lg-11">
       
    </div>
    <div class="col-lg-1">     
        <a href="#!/copyrigth"><span class="glyphicon glyphicon-copyright-mark Copy" aria-hidden="true"></span></a>
    </div> 
</div>

