<link href="css/estilos.css" rel="stylesheet" type="text/css"/>
<form ng-submit="submit()">
      <div class="col-lg-12 panelMp"> 
            <div class="col-lg-11">
                <font  class="col-lg-offset-5 tituloacercade" color="black" face="Monotype"  >MENU PRINCIPAL</font>
            </div>
          <div class="col-lg-1">     
              <a href="#!/logout"><button type="submit" class="buttonM"><span title="Cerrar session" class="glyphicon glyphicon-remove salir" aria-hidden="true"></span></button></a>
            </div>    
        </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <a ng-show="(rol == rolAdmin) ? true : false" href="#!/reportes"><button type="button" class=" btn btn-success btn-responsive btninter centrado buttonMenu">Reportes</button></a>
            <a ng-show="(rol == rolAdmin) ? true : false" href="#!/AgUsuario"><button type="button"  class="btn btn-success btn-responsive btninter right centrado buttonMenu ">Agregar Nuevo Usuario</button></a>
            <a href="#!/registroAlumno"><button type="button" class=" btn btn-success btn-responsive btninter centrado buttonMenu">Agregar Nuevo Alumno</button></a>
            <a href="#!/controlEntrada"><button type="button"  class=" btn btn-success btn-responsive btninter right centrado buttonMenu ">Control de entrada</button></a> 
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <center><img  class="campologom img-responsive" src="img\logormb.jpg"></center>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p class="textoPie">Institucion Educativa Ramon Martinez Benitez</p>
        </div>
    </div>

    <div class="col-lg-12 panelMp">
        <div class="col-lg-10 col-lg-offset-2">
            <a href="#!/copyrigth" class="linkCopiR"><span title="Copyright derechos" class="glyphicon glyphicon-copyright-mark Copy" aria-hidden="true"></span></a>
        </div>
    </div>
    <div class="alert alert-danger Mensa" style="margin-top: 20px;" ng-show="CerrarSession">
        <a href="#!/logout"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
        Esta seguro que desea cerrar Session?
    </div>
</form>