<div class="franja1">
    <p class="titulo">Reporte General <a href="#!/reportes"><span title="Cerrar session" class="fa fa-sign-out salir" aria-hidden="true"></span></a></p>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="table-responsive tabla1">
            <table class="table">
                <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula/TI</th>
                    <th>Grado</th>
                    <th>Hora Entrada</th>
                    <th>Horas Salida</th>               
                </tr>
                
                <tr>                    
                    <th>10/05/2017</th>
                    <th>11125479568</th>
                    <th>Jeferson Andres</th>
                    <th>Castaño Giraldo</th>                   
                    <th>10-1</th>
                    <th>08:00 am</th>
                    <th>12:00 pm</th>
                </tr>
                
                <tr>
                    <th>10/05/2017</th>
                    <th>11125479568</th>
                    <th>Jeferson Andres</th>
                    <th>Castaño Giraldo</th>                   
                    <th>10-1</th>
                    <th>08:00 am</th>
                    <th>12:00 pm</th>
                </tr>
                
                <tr>
                    <th>10/05/2017</th>
                    <th>11125479568</th>
                    <th>Jeferson Andres</th>
                    <th>Castaño Giraldo</th>                   
                    <th>10-1</th>
                    <th>08:00 am</th>
                    <th>12:00 pm</th>
                </tr>
                
            </table>
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous disabled"><a href=""><span aria-hidden="true">&Larr;</span>Anterior</a></li>
                    <li class="next"><a href="">Siguiente <span aria-hidden="true">&Rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>   
</div>
<div class="row">
    <div class="col-lg-12 panelMp franja5">
    </div>
</div>

