<div class="row">
<div class="franja1">
    <div class="col-lg-12">
        <font  class="col-lg-offset-5 tituloacercade" color="black" face="Monotype"  >Reportes </font><a href="#!/MenuPrincipal"><span title="Cerrar session" class="fa fa-sign-out salir" aria-hidden="true"></span></a>
    </div> 
</div>
</div>
<div class="row botones">

    <div class="col-lg-2 col-lg-offset-3 ">
        <a href="#!/reporteGeneral"><button class="btn btn-block btn-success">
                Reporte General
            </button></a>
    </div>
    <div class="col-lg-2">
        <a href="#!/reporteAlumno"><button class="btn btn-block btn-success">
                Reporte por Alumno
            </button></a>
    </div>
    <div class="col-lg-2">
        <a href="#!/reporteFecha">
            <button class="btn btn-block btn-success">
                Reporte por Fecha
            </button>
        </a>
    </div>

    <div class="row centro">
        <div class="col-lg-12 text-center">
            <center><img  class="campologom img-responsive" src="img\logormb.jpg"></center>
        </div>
        <div class="col-lg-12">
            <p class="textoPie">Institucion Educativa Ramon Martinez Benitez</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 panelMp franja3">
        </div>
    </div> 
