
<div class="row">
<div class="franja1">
    <div class="col-lg-12">
    <font  class="col-lg-offset-5 tituloacercade" color="black" face="Monotype"  >Reporte General</font><a href="#!/reportes"><span title="Cerrar session" class="fa fa-sign-out salir" aria-hidden="true"></span></a>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="table-responsive tabla1">
            <table class="table">
                <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula/TI</th>
                    <th>Grado</th>
                    <th>Hora Entrada</th>
                    <th>Horas Salida</th>               
                </tr>

         <tr ng-repeat="reporte in reportes">
                <td>{{reporte.per_created_at}}</td>
                <td>{{reporte.per_nombre}}</td>
                <td>{{reporte.per_apellidos}}</td>
                <td>{{reporte.per_cedula}}</td>
                <td>{{reporte.per_grado}}</td>
                <td>{{reporte.ent_rent}}</td>
                <td>{{reporte.ent_rsal}}</td>
              </tr>

            </table>
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous disabled"><a href=""><span aria-hidden="true">&Larr;</span>Anterior</a></li>
                    <li class="next"><a href="">Siguiente <span aria-hidden="true">&Rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>   
</div>
<div class="row">
    <div class="col-lg-12 panelMp franja5">
    </div>
</div>
