/*
- realizaremos todo por seccion para tener un mejor orden
*/
/*------------------------------------------LOGIN------------------------------------------*/

.contenedor6{
    border: solid 2px black;
    margin-top: 100px;
    padding-top: 15px;
}
.panel1{
    border: 1px solid black !important;
    height: 70px;
    width: 100%;
    background: green !important;


}
.panel2{
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    border: 1px solid black !important;
    height: 70px;

    background: green !important;

}
.button{
    border-color: black;
    margin-top: 25px;
}

.C1{
    margin-top: 0px;
    border: 1px solid black;
    width: 150px;
    height: 25px;
}
.espaciolo{
    margin-top: 50px;
    margin-right: 70px;
    margin-bottom: 36px;
}
.Mensa{
    width: 280px;
    text-align: center;
    margin-left: 820px;
}
/*------------------------------------------/LOGIN------------------------------------------*/

/*------------------------------------------Menu Principal------------------------------------------*/
.panelMp{

    border: 1px solid black !important;
    height: 90px;
    width: 100%;
    background: green !important;
    margin-bottom: 25px;

}
.panelMp1{
    margin-top: 160px;
    border: 1px solid black !important;
    height: 90px;
    width: 100%;
    background: green !important;
    margin-right: 0px;
}
.buttonMenu{
    border-color: black;
    width: 180px;
    height: 50px;
    margin-left: 5px;
    margin-top: 35px;
    margin-right: 0px;
    margin-bottom: 70px;
}
.letraMenu{
    font-size: 25px;
}
.tituloMenuP{
    font-size: 55px;
    color: black;

}
.campologom{
    margin-top:50px;
    margin-right: 55px;
    width:400px; 
    height:350px;
    padding-right: 0px;
    margin-bottom: 70px;
}
.textoPie {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}
.linkCopiR{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.CopiR{
    float: right;
    margin-right: 40px;
    color: black;
}
.buttonM{
    background: green !important;
    border: 0px;
    margin-top: 15px;

}


/*------------------------------------------/Menu Principal------------------------------------------*/

/*------------------------------------------Agregar Usuario------------------------------------------*/

.contenedor1{
    padding-top: 0px;
    padding-right: 0px;
    border: 3px solid black !important ;
    margin: 000000;
    color: #006666;
    background: white !important;
    margin: auto;
    height: 525px;
    width: 1220px;
    margin-top: 150px;
    margin-bottom: 160px;
}    


.panelAgU1{
    margin-top: 0px;
    border: 1px solid black !important;
    height: 90px;
    width: 100%;
    background: green !important;
    padding-top: 0px;
    padding-right: 0px;
}
.panelAgU2{
    margin-top: 0px;
    border: 1px solid black !important;
    height: 90px;
    width: 100%;
    background: green !important;
    padding-top: 0px;
    padding-right: 0px;
}
.C2{
    border: 1px solid black;
    height: 28px;

}
.C3{
    border: 1px solid black;
    height: 25px;
    width: 155px;


}

.button1{
    border-color: black;
    width: 100px;
    margin-left: 15px;
    margin-top: 35px;
    margin-right: 0px;
}


.labelPersonal{
    margin-top: 0px;
    font-size: 15px;
    color: black;
    margin-left: 110px;
}
.campofoto{
    margin-top: 60px;
    margin-right:0px;
    width:104px; 
    height:136px;
    padding-right: 0px;
    margin-left: 10px;
}
.bfoto{
    margin-right: 0px;
    margin-bottom: 5px;
}
.ep{
    margin-top: 145px;
    margin-right: 0px;


}
.ep1{
    margin-top: 145px;
}
.buttonE{
    margin-bottom: 45PX;
    margin-top: 15px;
    
}
.tex1{
    margin-top: 25px;
}
.letraE{
    color:black ;
   font-size: 35px;
   font-variant: historical-forms;
}
.letraf{
    color:black ;
   font-size: 30px;
   font-variant: historical-forms;
   margin-top: 20px;
   
}
.iconoError{
    margin-right: 10px;
}
.parrafoError{
    color: red;
    font-family: Berlin Sans FB;
    margin-left: 40px;
    margin-top: 10px;
}

/*------------------------------------------CopyRight------------------------------------------*/


.contenedor2{
    padding-top: 0px;
    padding-right: 0px;
    border: 1px solid black;
    background: white;
    height: 545px;
    width: 1220px;
    margin-top: 70px;
    margin-bottom: 50px;
   


}    

.panelAc{
    margin-top: 0px;
    border: 1px solid black !important;
    height: 90px;
    width: 100%;
    background: green !important;
    margin-right: 300px;

}
.panelAc2{
    margin-top: 150px;
    border: 1px solid black !important;
    height: 90px;
    width: 100%;
    background: green !important;
    margin-right: 0px;
    padding-top: 0px;
    padding-right: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.campologo{
    margin-top: 60px;

}
.campologo2{
    margin-top:0px;
    margin-right:0px;
    width:104px; 
    height:136px;
    padding-right: 0px;
    margin-left: 15px;
}
.letra{
    font-size: 17px;
}
.letra1{
    font-size: 17px;
    margin-right: 10px;
}
.letra2{
    font-size: 17px;
/*    margin-left: 70px;*/
}
.espacio{
    margin-top: 250px;
}
.salir{
    color: black;
    font-size: 50px;
    margin-left: 0px;
    float: right;
    margin-right: 25px;
    margin-top: 15px;

}
.salir1{
    color: black;
    font-size: 50px;
    margin-left: 0px;
    float: right;
    margin-right: 0px;
    margin-top: 15px;

}
.cerrarsession{
    color: black;
    font-size: 52px;
    margin-left: 0px;
    float: right;
    margin-top: -5px;

}
.Copy{
    color: black;
    font-size: 52px;
    margin-left: 0px;
    margin-right: 40px;
}
.tituloacercade{
    font-size: 55px;
}
.panelM{

    border: 1px solid black !important;
    height: 90px;
    width: 100%;
    background: green !important;
    margin-bottom: 25px;

}
.panelc{

    border: 1px solid black;
    background-color: white;
    margin-bottom: 25px;
    margin-top: 30px;
    margin-bottom: 70px;

}
/*------------------------------------------/CopyRight------------------------------------------*/

/*-----------------------------------------/controlEntrada--------------------------------------*/
.Mensa1{

}
/*-----------------------------------------/controlEntrada--------------------------------------*/
/*-----------------------------------------/reportes--------------------------------------*/
.tituloReportes{
    font-size: 55px;
    margin-right: 25px;
}
.tituloReporte{
    font-size: 55px;
    
}
.icon{
    margin-left: 600px;
    color: black;
    font-size: 50px;
        
}
/*-----------------------------------------/reportes--------------------------------------*/
